.button {
  display: inline-block;
  width: max-content;
  padding: 1rem 2rem;
  gap: 0.625rem;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.02),
    5px 5px 10px 0px rgba(0, 0, 0, 0.05), 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.button-text {
  font-family: "Almarai", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.button:hover {
  transform: translateX(8px);
}

.whatsapp-button {
  transition: 0.3s;
}

.whatsapp-button:hover {
  background-color: #40802B;
}

@media (max-width: 992px) {
  .button {
    padding: 12px 24px;
  }
  
  .button-text {
    font-size: 1rem;
  }
}
