/* Containers */
.container-lg {
  max-width: 1200px;
  margin: 0 auto;
}

/* Paddings, Margins, etc */
.padding-section {
  padding: 60px 80px 100px 80px;
}

.padding-header,
.padding-resume {
  padding: 32px 80px;
}

.padding-footer {
  padding: 60px 80px 40px 80px;
}

.mb-title {
  margin-bottom: 60px;
}

.mb-title-specialities {
  margin-bottom: 40px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-12 {
  margin-bottom: 12px;
}

@media (max-width: 992px) {
  .padding-section {
    padding: 40px 60px 80px 60px;
  }

  .padding-header {
    padding: 32px 60px;
  }

  .mb-title {
    margin-bottom: 40px;
  }

  .mb-title-specialities {
    margin-bottom: 32px;
  }

  .padding-footer {
    padding: 40px 60px 20px 60px;
  }
}

@media (max-width: 768px) {
  .padding-resume {
    padding: 20px;
  }
}
