/* Titles */
.title-hero {
  font-family: "Almarai", sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.75rem;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
}

.title {
  font-family: "Almarai", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 300;
  line-height: calc(4rem * 1.4);
  letter-spacing: -0.1rem;
  text-transform: uppercase;
}

.title-doctor {
  font-family: "Almarai", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: calc(2rem * 1.1);
  text-transform: uppercase;
}

.title-specialities {
  font-family: "Lora", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: calc(3rem * 1.4);
  letter-spacing: -0.1rem;
}

/* Parapgraphs, list-items and similars */
.text-header {
  font-family: "Lora", serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.text {
  font-family: "Lora";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.575rem;
  letter-spacing: 0.0225rem;
}

.text-small {
  font-family: 'Lora';
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.05rem; /* 140% */
  letter-spacing: 0.015rem;
}

.text-doctor {
  font-family: 'Lora';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem * 1.4);
  letter-spacing: 0.015rem;
}

.text-specialities {
  display: grid;
  gap: 32px;
}

.cda-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.team-text {
  display: grid;
  height: max-content;
  gap: 32px;
}

.clinica-text {
  display: grid;
  height: max-content;
  gap: 32px;
}

/* Font Styles and similars */
.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underlined {
  text-decoration: underline;
}

.max-width-75ch {
  max-width: 75ch;
}

@media (max-width: 992px) {
  .title-hero {
    font-size: 3.75rem;
    line-height: calc(3.75rem * 1.15);
  }

  .text {
    font-size: 0.875rem;
    line-height: calc(0.875rem * 1.4);
  }

  .title {
    font-size: 3rem;
    line-height: calc(3rem * 1.4);
  }

  .text-specialities,
  .cda-text,
  .team-text,
  .clinica-text {
    gap: 24px;
  }

  .title-specialities {
    font-size: 2.25rem;
    line-height: calc(2rem * 1.4);
  }

  .text-small {
    font-size: 0.625rem;
  }

  .text-doctor {
    font-size: 0.75rem;
    line-height: calc(0.75rem * 1.4);
  }
}

@media (max-width: 768px) {
  .title-hero {
    font-size: 2.5rem;
    line-height: calc(2.5rem * 1.15);
  }

  .title-specialities {
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.4);
  }

  .title {
    font-size: 2.5rem;
    line-height: calc(2.5rem * 1.15);
  }

  .title-resume {
    font-size: 1rem;
  }
}
