footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
footer .logo {
  display: grid;
  justify-items: center;
}

footer .logo img {
  max-height: 80px;
  max-width: 100%;
}

footer .logo p {
  text-align: center;
}

footer .menu {
  color: var(--black);
}

footer .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

footer .menu a li {
  display: grid;
  gap: 2px;
  transition: 0.3s;
}

footer .menu a li:hover {
  color: var(--primary);
}

.infos {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.social-media a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-media a span,
.social-media a svg path {
  transition: 0.4s;
}

.social-media a:hover span {
  color: var(--primary-lighter);
}

.social-media a:hover svg path {
  fill: var(--primary-lighter);
}

.social-media img {
  height: 20px;
}

.copywright-mobile {
  display: none;
}

@media (max-width: 768px) {
  footer,
  .infos {
    grid-template-columns: 1fr;
  }

  footer {
    gap: 32px;
  }

  .infos {
    justify-self: center;
    gap: 40px;
  }

  footer .logo {
    gap: 24px;
  }

  footer .logo img {
    max-height: 45px;
  }

  .social-media {
    flex-direction: row;
  }

  .social-media span {
    display: none;
  }

  .copywright-mobile {
    display: block;
    text-align: center;
  }

  .copywright-desktop {
    display: none;
  }
}
