#hero {
  background: url(../../img/foto-hero-larmond\ 2.jpg) no-repeat right;
  background-size: cover;
}

#hero-content {
  display: grid;
  gap: 28px;
}

@media (max-width: 992px) {
  #hero-content {
    gap: 20px;
  }
}