#hero {
  background: url(../../img/hero-larmond-teste.png) no-repeat right;
  background-size: cover;
}

#hero-content {
  display: grid;
  gap: 28px;
}

#hero-content-mobile {
  display: none;
}

@media (max-width: 992px) {
  #hero-content {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  #hero {
    background: #a66c6b;
  }

  #hero-content-mobile {
    display: block;
  }  
}