.clinica-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

@media (max-width: 768px) {
  .clinica-content {
    grid-template-columns: 1fr;
  }

  #history .clinica-text {
    order: 1;
  }

  #history .slider {
    order: 2;
  }
}