#specialities .photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#specialities .photos .photo {
  display: grid;
  gap: 12px;
}

.airflow .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: last baseline;
}

@media (max-width: 768px) {
  #specialities .photos,
  .airflow .content {
    grid-template-columns: 1fr;
  }

  .airflow .content {
    gap: 30px;
  }

  .airflow .content .photo {
    order: -1;
  }
}