#team #photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

#team .doctor {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#team .doctor p {
  max-width: 60ch;
}

#team .name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#team .name img {
  height: 24px;
}

#team-container {
  display: flex;
  gap: 60px;
}

.doctor-img {
  width: 100%;
  max-height: 600px;
}

@media (max-width: 992px) {
  #team-container {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  #team #photos {
    grid-template-columns: 1fr !important;
  }

  #team #photos img:not(:first-child) {
    display: none;
  }

  #team #team-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}