.testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 40px;
  justify-content: center;
}

.testimonial {
  background-color: var(--secondary);
  height: 400px;
  width: 360px;
  border: 2px solid var(--black);
  border-radius: 50% 50% 0px 0px;
  display: grid;
  justify-items: center;
}

.testimonial .profile img {
  border-radius: 50%;
  max-height: 80px;
}

.testimonial p {
  padding: 0px 24px;
  text-align: center;
  align-self: end;
}

.testimonial .rating img {
  height: 30px;
}

.testimonial .rating {
  align-self: center;
}

.profile {
  display: flex;
  align-items: end;
}

@media (max-width: 768px) {
  .profile img {
    height: auto;
    max-width: 100%;
  }

  .profile {
    align-items: center;
  }

  .testimonials {
    gap: 40px;
  }
}