.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0% !important;
  overflow-x: hidden;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
  position: relative;
}

.slider-content input {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  text-align: center;
  transition: 1s;
}

.img-desktop {
  width: 100%;
  position: relative;
}

.nav-manual, .nav-auto {
  position: absolute;
  width: max-content;
  bottom: 20px;
  left: 11%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.nav-manual .manual-btn, .nav-auto div {
  background-color: #d2d2d22f;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}

.nav-manual .manual-btn:hover,
#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3,
#radio4:checked ~ .nav-auto .auto-btn4 {
  background-color: #ffffff;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}

#radio4:checked ~ .primeiro {
  margin-left: -75%;
}